<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321128785697-4n4k08ckn1et8mb5p6mnp80aja3dp7ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321128785697-4n4k08ckn1et8mb5p6mnp80aja3dp7ui</string>
	<key>API_KEY</key>
	<string>AIzaSyATzLDdO1l8YLUp8bOybmiXVnYmPZWsx20</string>
	<key>GCM_SENDER_ID</key>
	<string>321128785697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.legaldiary</string>
	<key>PROJECT_ID</key>
	<string>legal-diary-1d1f8</string>
	<key>STORAGE_BUCKET</key>
	<string>legal-diary-1d1f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321128785697:ios:d019ebca2acadc72fcc060</string>
</dict>
</plist>